# Node / JS
node_modules/
.next/
.turbo/
dist/
build/
.vercel/
.netlify/
coverage/
.pnpm-store/
.yarn/
yarn.lock
pnpm-lock.yaml

# Env & local config
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
.vscode/
.idea/
